<%# <form action="/answer" data-turbo="false">
  <label>Ask the stupid coach:</label>
  <input type="text" name="question" placeholder="What you want?">
  <input type="submit" value="Ask!">
</form> %>

<form action="/answer" data-turbo="false">
  <%# <div class="form-group mb-2">
    <%# <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> %>
  <%# </div> %>
    <label>Ask the stupid coach:</label>
    <div class="form-group mx-sm-3 mb-2">
      <%# <label>Ask the stupid coach:</label> %>
      <%# <input type="password" class="form-control" id="inputPassword2" placeholder="Password"> %>
      <input type="text" name="question" placeholder="What you want?">
      <input type="submit" class="btn btn-primary mb-2" value="Ask!">
    </div>
</form>
